body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: sans-serif;
}

#board{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.square {
    border: 1px solid #eee;
}