html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQAlAMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAADAgABBAb/xAAcEAEBAQACAwEAAAAAAAAAAAAAAQIDESExQRL/xAAaAQEAAwEBAQAAAAAAAAAAAAACAAEDBQQG/8QAGBEBAQEBAQAAAAAAAAAAAAAAAAECEQP/2gAMAwEAAhEDEQA/APsITI4TLZ26TJciyXIVnSZLkWS5Cs6uFg4vIUKSEyKEyNAkVExUGjVKnpMVFA7HfjjIjMzIpmZkF8fkuaLJMPc69LkuRZLkKypMkg8kyFZ0kJkcJAoLySDySKCri4iLgCpUSqKCuszIjMzILMzIp8bmmwDBsPfXXpslgclyFZUmSZo8rz7ChSykg4vNChS5XKPK4NZ0kXERcCirtcTIqKCuuuOqRxo1ZBrOMyC+NwfIMmy6NdmlyWByWBWVJF59jyTI2BSxcHFyhxnSxcHkkAKTJMiyTIUKSKiIuCDsdcjqlNXHa5UGuMzIp8dCYHCZdKuzS59LyKEzRsZ00XBZXL5DgU2VQcpJRsZ0uSZoclzYzCkhMihMhQpYrKITIUK664oRc+pV9Sg1mZkF8dF5vhEXHV47VJKrKM1eR4FhJSZFCZGwKWLlFFwLGdNmkyHJIFgU0JkOaXNZ2M6XJM0WaSVnQpI65HQouX247XKg1xmZBfHKiXY7HHaJFSjlJBsGkzVyihIPApJSShlJKPGdNKTIJS5oWM6bJcgzS5rLUCnyuDzSZZUKWOpi2VBypqk0RrjM4sXx0djnbrtu2uKlHFSq4FLKqUUqpVcZ00q80Eqs1VjK16M0krzzS86Z3LO16s02K8udGzWWsh16s0ua82KfDHUVT5WPJIwoVk1SdANQzMsHxrqO3e3e47i3ex9uypxnqkld7F+nf0nGNpZVTQP0qaVcstV6Jok08s0rOlXLK17M6NjTxTZuPbLWQ69+K9HHfLwce/L1cW3n3lOvdiljz8VPl5NxK6nS06ZDRsziwfFuMz6F2qzWsy2dcld7ZkY6bt2WsyMdKlVLWZVZUmbTYtcZnWb0Y1e3q4tXtmef0U9vDa9eKzPF6HFp06zz1KNmZQP/2Q==);
    background-size: cover;
}

button{
    margin: 2rem;
    background-color: teal;
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 0;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover{
    background-color: darkslategray;
}